@font-face {
    font-family: Avenir;
    src: url(font/Avenir.ttf);
}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 70.0px 'Avenir'; color: white}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 30.0px 'Avenir'; color: white}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 25.0px 'Avenir'; color: white; min-height: 48.0px}
p.p4 {margin: 0.0px, 0.0px, 0.0px, 0.0px; font: 20.0px 'Avenir'; color: white; min-height: 35.0px}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.border {
    float: center;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    height: 300px;
    border: 2px solid white;
}
.navigasi {
    overflow: hidden;
    background-color: rgba(39, 40, 51, 0.965);
}
.navigasi a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigasi a:hover {
    background-color: #1c1d26;
    color: white;
}
.konten {
    background-color: #1c1d26;
    padding: 10px;
}
.bakibawah {
    background-color: #272833;
    padding: 10px;
}